body.page-template-page_home {

    section#header_home {
        position: relative;

        h1 {
            width: 100%;
            color: $white;
            font-size: 2.2em;
            bottom: 10%;
            position: absolute;
            text-align: center;
            font-family: $futura-i;
        }

        a.image {
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            display: block;
            position: absolute;
            top: 18%;
            bottom: 32%;
            left: 15%;
            right: 15%;
        }

        /*
        div#slides {
            .slidesjs-slide {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                height: 85vh;
                top: -47px;
                margin-bottom: -47px;
                position: relative;


            }
        }
        */
    }

    section#pub {
        width: 100%;
        overflow: scroll;
        display: table;
        position: relative;
        border-bottom: 3px solid $white;
        border-top: 2px solid $white;

        ul {

            li {
                display: inline-block;
                float: left;
                width: 25%;

                list-style-type: none;
                box-sizing: border-box;
                border-right: 3px solid $white;

                &:last-of-type {
                    border-right: none;
                }

                a {
                    height: 10vh;
                    padding-top: 100px;
                    width: 100%;
                    display: block;
                    background-size: cover;
                    background-position: top center;
                    position: relative;

                    div.image {
                        width: 90%;
                        margin-left: 5%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        display: block;
                        background-position: top center;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                }

            }
        }

    }

    @media only screen and (min-width: 1080px) {
        section#header_home {
            a.image {
                top: 25%;
                bottom: 30%;
                left: 15%;
                right: 15%;
            }
        }
    }

    @media only screen and (min-width: 2000px) {
        section#header_home {
            a.image {
                top: 30%;
                bottom: 35%;
                left: 15%;
                right: 15%;
            }
        }
    }

    @media only screen and (max-width: 2100px) {

        section#pub {

            ul li a {
                height: 8vh;
            }
        }

    }

    @media only screen and (max-width: 1600px) {

        section#pub {

            ul li a {
                height: 6vh;
            }
        }

    }

    @media only screen and (max-width: 1300px) {

        section#header_home {

            h1 {
                font-size: 1.8em;
            }
        }

        section#pub {

            ul li a {
                height: 4vh;
                max-height: 80px;
            }
        }

    }

    @media only screen and (max-width: 640px) {

        section#header_home {

            a.image {
                top: 12%;
                bottom: 24%;
                left: 15%;
                right: 15%;
            }

            h1 {
                font-size: 1.2em;
            }
        }

        section#pub {
            border-bottom: 2px solid $white;
            border-top: 2px solid $white;

            ul {
                li {
                    display: block;
                    float: inherit;
                    width: 100%;
                    border-right: 0;
                    border-bottom: 2px solid $white;
                    border-top: 2px solid $white;

                    a {
                        height: inherit;
                        padding-bottom: 56.2%;
                        position: relative;
                        padding-top: 0;
                        margin: 0;
                    }
                }
            }
        }
    }

}





